.LoginBlockInputField {
    text-align: left;
    font: Regular 16px/24px SF Pro Text;
    letter-spacing: 0px;
    color: #BBBBC7;
    opacity: 1;
    padding-bottom: 12px;
    border: 0px;
    border-bottom: 1px solid #BBBBC7;
    opacity: 1;
}