.LoginBlockLogoDiv {
    left:0;
    top:0;
    width: 44%;
    height:inherit;
    background: transparent url('../../Data/Images/LoginBlockBackground.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginBlockLogoLogotype {
    width: 43%;
    height:20%;
    background: transparent url('../../Data/Images/LoginBlockLogo.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: contain;
    
}