.priorityMenu__priorityMenu {
    height: 100%;
    width: 16%;
    padding-left: 2%;
    padding-top: 2.8%;
    background: transparent linear-gradient(14deg, #56CCF2 0%, #2F80ED 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
}

.priorityMenu__priorityLogo {
    height: 7%;
    width: 45%;
    background: transparent url('../../Data/Images/LoginBlockLogo.svg') 0% 0% no-repeat padding-box;
    background-size: contain;
    opacity: 1;
}

.priorityMenu__priorityList {
    text-align: left;
    
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    list-style: none;
    padding: 0px;
}

.priorityMenu__priorityButton {
    font: sf-pro-text;
    font-size: 19px;
    margin-bottom: 1.4%;
    user-select: none;
    transition: 0.3s;
}

.priorityMenu__priorityButton:hover {
    cursor: pointer;
}


.priorityMenu__priorityButtonActive {
    text-decoration: underline;
    text-decoration-style: solid;
}

.priorityMenu__priorityOrder {
    display: flex;
    width: 45%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: #FFFFFF;
    font-size: 21px;
    margin-top: 5px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    user-select: none;
}

.priorityMenu__orderButton {
    height: 8px;
    width: 14px;
}

.priorityMenu__orderButton:hover {
    cursor: pointer;
    
}

.priorityMenu__orderButtonUp {
    transform: rotate(180deg);
}